.tabs-container {
  ul {
    margin: 0;
  }
}

.full-image-row {
  padding: 0 !important;
}

.full-image-cat {
  height: 350px;
  background-size: cover;
  background-position: center;
}

.full-image-text {
  text-align: center;
  margin: 0;
  text-transform: uppercase;
  font-size: 18px;
  letter-spacing: 0.4rem;
  padding: 10px 0;
}

.category {
  .parallax-container {
    height: 200px;
  }
}
