<template name="categoriesShow">
  <div class="category">
    <div class="parallax-container">
      <div class="parallax">
        <img src="{{ currentCategory.image.url }}">
      </div>
    </div>
    {{# if shouldShowTabs }}
    <div class="teal tabs-container">
      <div class="container">
        <ul class="tabs teal">
          {{# each subcategories }}
            <li class="tab {{ isSubcategoryActive }}"><a subcategory="{{ this }}" href="#">{{ this }}</a></li>
          {{/ each }}
        </ul>
      </div>
    </div>
    {{/ if }}
    <div class="section">
      <div class="">
        <div class="row masonry">
          <div class="col s12 m6 l3">
            <div class="card-panel">
              <p>Tipos</p>
              {{# each availableTypes }}
                <p class="types">
                  <span class="child-category-box">
                    {{# if isTypeSelected }}
                      <input category="{{ _id }}" type="checkbox" class="filled-in" id="filled-in-box-{{ _id }}" checked="checked" />
                    {{ else }}
                      <input category="{{ _id }}" type="checkbox" class="filled-in" id="filled-in-box-{{ _id }}"/>
                    {{/ if }}
                    <label for="filled-in-box-{{ _id }}">{{ type }}</label>
                  </span>
                </p>
              {{/ each }}
              <p>Precios</p>
              {{# each availablePrices }}
                <p class="prices">
                  <span class="child-category-box">
                    {{# if isPriceSelected }}
                      <input category="{{ identifier }}" type="checkbox" class="filled-in" id="filled-in-box-{{ identifier }}" checked="checked" />
                    {{ else }}
                      <input category="{{ identifier }}" type="checkbox" class="filled-in" id="filled-in-box-{{ identifier }}"/>
                    {{/ if }}
                    <label for="filled-in-box-{{ identifier }}">{{ label }}</label>
                  </span>
                </p>
              {{/ each }}
            </div>
          </div>
          {{# each products }}
            <div class="col s12 m6 l3">
              <a href="{{ pathFor 'products.show' }}">
                <div class="card">
                  <div class="card-image waves-effect waves-block waves-light">
                    <img src="{{ image.url }}">
                  </div>
                  <div class="card-content">
                    <span class="card-title grey-text text-darken-4">{{ name }}</span>
                    <p class="grey-text text-darken-4">{{ description }}</p>
                    {{# if price }}
                      <p class="grey-text text-darken-4">${{ format price }}</p>
                    {{/ if }}
                  </div>
                </div>
              </a>
            </div>
          {{/ each }}
        </div>
        
      </div>
    </div>
  </div>
</template>