<template name="categoriesShow">
  <div class="category">
    <div class="parallax-container">
      <div class="parallax">
        <img src="{{ currentCategory.image.url }}">
      </div>
    </div>
    {{# if shouldShowTabs }}
    <div class="marias-green-with-text home-links tabs-container">
      <ul>
        {{# each subcategories }}
          <li>
            <a href="#" class="dropdown-button uppercase separated {{ isSubcategoryActive }}"  data-activates="dropdown-{{ getIdForSubcategory }}">
              {{ this }}
            </a>
            <ul id='dropdown-{{ getIdForSubcategory }}' class="dropdown-content">
              {{# each types }}
                <li><a href="{{ pathFor 'categories.show' type=_id value=getCategoryValue }}">{{ type }}</a></li>
              {{/ each }}
            </ul>
          </li>
        {{/ each }}
      </ul>
    </div>
    {{/ if }}
    <p style="margin-left: 10px;">
      {{# with getCurrentType }}
        <span class="grey-text">{{ category }} > {{ subcategory }} ></span> {{ type }}
      {{/ with }}
    </p>
    <div class="section">
      <div class="">
        <div class="row" style="margin-bottom: 0">
          <div class="col s12 m6 l3 example-width"></div>
        </div>
        <div class="row masonry">
          {{# if Template.subscriptionsReady }}
            {{# each products }}
              <div class="col s12 m6 l3">
                <a href="{{ pathFor 'products.show' }}">
                  <div class="card">
                    <div class="card-image waves-effect waves-block waves-light" style="height: {{ getImageHeight }}px; background-color: {{ image.info.backgroundColor }}">
                      <img data-original="{{ image.url }}">
                    </div>
                    <div class="card-content">
                      <span class="card-title grey-text text-darken-4">{{ name }}</span>
                      <p class="grey-text text-darken-4">{{ description }}</p>
                      {{# if price }}
                        <p class="grey-text text-darken-4">${{ format price }}</p>
                      {{/ if }}
                    </div>
                  </div>
                </a>
              </div>
            {{/ each }}
          {{ else }}
            {{> loading }}
          {{/ if }}
        </div>
      </div>
    </div>
  </div>
</template>
