<template name="storesIndex">
  <div class="container">
    <h1 class="page-title">Tiendas</h1>
  </div>
  <div class="row">
    <div class="col s12 m6 l3 example-width"></div>
  </div>
  <div class="row masonry">
    {{# if Template.subscriptionsReady }}
      {{# each stores }}
        <div class="col s12 m6 l3">
          <a href="{{ pathFor 'stores.show' }}">
            <div class="card">
              <div class="card-image waves-effect waves-block waves-light">
                <img src="{{ logo.url }}" height="{{ getImageHeight }}" style="background-color: {{ image.info.backgroundColor }}">
              </div>
              <div class="card-content">
                <span class="card-title grey-text text-darken-4">{{ name }}</span>
              </div>
            </div>
          </a>
        </div>
      {{/ each }}
    {{ else }}
      {{> loading }}
    {{/ if }}
  </div>
</template>