.home {
 .btn {
  margin-bottom: 5px;
 }
}

.home-links {
  text-align: center;
  > ul > li {
    display: inline-block;
    text-align: center;
    padding: 14px 0;
    > a {
      padding: 15px;
      -webkit-transition: background-color 300ms;
      -moz-transition: background-color 300ms;
      -o-transition: background-color 300ms;
      -ms-transition: background-color 300ms;
      transition: background-color 300ms;
      &:hover, &.active {
        background-color: rgba(0, 0, 0, .05);
      }
    }
  }
}
