<template name="home">
  <br>
  <div class="home">
    {{> ads location="home-top" }}
    <div class="marias-green-with-text-darken home-links">
      <ul>
        {{# each topCategories }}
          <li>
            <a href="{{ pathFor 'categories.show' }}" class="uppercase separated">
              {{ label }}
            </a>
          </li>
        {{/ each }}
        <li>
          <a href="{{ pathFor 'designers.index' }}" class="uppercase separated">
            {{ dict 'texts.tituloDecoradores' 'Diseñadores' }}
          </a>
        </li>
      </ul>
    </div>
    <br>
    <div class="row">
      <div class="col s12 m9">
        {{> homePosts }}
      </div>
      <div class="col s12 m3">
        {{> ads location="home-right" }}
        {{> ads location="home-right-2" }}
      </div>
    </div>
  </div>
</template>

<template name="bannerSide">
  <div class="row">
    <img class="col s12" src="{{ dict 'banners.side.url' }}">
  </div>
</template>
