<template name="home">
  <br>
  <div class="container home">
    {{> bannerTop }}
    <p>
      {{# each topCategories }}
        <a href="{{ pathFor 'categories.show' }}" class="btn">
          {{ label }}
        </a>
      {{/ each }}
      <a href="{{ pathFor 'designers.index' }}" class="btn">
        {{ dict 'texts.tituloDecoradores' 'Diseñadores' }}
      </a>
    </p>
    <div class="row">
      
    </div>
    <div class="row">
      <div class="col s12 m9">
        <img class="responsive-img" src="{{ dict 'brand.logo.url' }}">
      </div>
      <div class="col s12 m3">
        {{> bannerSide }}
      </div>
    </div>
  </div>
</template>

<template name="bannerTop">
  <div class="row">
    <img class="col s12" src="{{ dict 'banners.top.url' }}">
  </div>
</template>

<template name="bannerSide">
  <div class="row">
    <img class="col s12" src="{{ dict 'banners.side.url' }}">
  </div>
</template>