<template name="homePosts">
  <div class="row home-posts">
    {{# each posts }}
      <div class="col s12 l6">
        <a href="{{ pathFor 'posts.show' }}">
          <div class="the-image" style="background-color: {{ image.info.backgroundColor }}; background-image: url({{ image.url }})">
            <div class="center-align">
              <h3 class="title" style="color: {{ image.info.primaryColor }};">{{ title }}</h3>
              <h5 class="caption" style="color: {{ image.info.secondaryColor }};">{{ caption }}</h5>
            </div>
          </div>
        </a>
      </div>
    {{/ each }}
  </div>
</template>