<template name="header">
  <nav class="header marias-green-with-text">
    <div class="nav-wrapper container">
      <a href="{{ pathFor 'home' }}" class="brand-logo">
        <img src="{{ dict 'brand.logo.url' }}">
      </a>
      <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      <ul class="side-nav" id="mobile-nav">
        {{> headerItems }}
      </ul>
      <ul class="right hide-on-med-and-down">
        {{> headerItems }}
      </ul>
    </div>
  </nav>
  {{# unless isActiveRoute regex='home' }}
    <div class="marias-green-with-text home-links">
      <ul style="margin:0">
        {{# each topCategories }}
          <li class="{{ isActivePath regex=getPath }}">
            <a href="{{ pathFor 'categories.show' }}" class="uppercase separated">
              {{ label }}
            </a>
          </li>
        {{/ each }}
        <li class="{{ isActiveRoute regex='designers' }}">
           <a href="{{ pathFor 'designers.index' }}" class="uppercase separated">
            {{ dict 'texts.tituloDecoradores' 'Diseñadores' }}
          </a>
        </li>
      </ul>
    </div>
  {{/ unless }}
</template>
<template name="headerItems">
  <li class="{{ isActiveRoute regex='search' }}">
    <a href="{{ pathFor 'search' }}" class="uppercase separated">
      Buscar
    </a>
  </li>
  <li class="{{ isActiveRoute regex='stores' }}">
    <a href="{{ pathFor 'stores.index' }}" class="uppercase separated">
      Tiendas
    </a>
  </li>
  <li>
    <a href="{{ pathFor 'admin' }}" class="uppercase separated">
      Mi Cuenta
    </a>
  </li>
</template>
