<template name="header">
  <nav class="header marias-green-with-text">
    <div class="nav-wrapper container">
      <a href="{{ pathFor 'home' }}" class="brand-logo">
        <img src="{{ dict 'brand.logo.url' }}">
      </a>
      <a href="#" data-activates="mobile-nav" class="button-collapse"><i class="mdi-navigation-menu"></i></a>
      <ul class="side-nav" id="mobile-nav">
        {{> headerItems }}
      </ul>
      <ul class="right hide-on-med-and-down">
        {{> headerItems }}
      </ul>
    </div>
  </nav>
</template>
<template name="headerItems">
  <li class="{{ isActiveRoute regex='search' }}">
    <a href="{{ pathFor 'search' }}" class="uppercase separated">
      Buscar
    </a>
  </li>
  <li class="{{ isActiveRoute regex='stores' }}">
    <a href="{{ pathFor 'stores.index' }}" class="uppercase separated">
      Tiendas
    </a>
  </li>
  <li class="{{ isActiveRoute regex='categories' }}">
    <a href="{{ pathFor 'categories.index' }}" class="uppercase separated">
      Categorías
    </a>
  </li>
  <li>
    <a href="{{ pathFor 'admin' }}" class="uppercase separated">
      Mi Cuenta
    </a>
  </li>
</template>