body {
  font-family: 'Open Sans', sans-serif;
}

.header {

  .brand-logo {
    padding-left: 5px;
  }
}

.responsive-img {
  width: 100%;
}

.page-title {
  color: #424242;
  font-size: 2rem;
  text-align: center;
}