<template name="favoritesIndex">
  {{# Layout template="orionMaterializeHeaderContainer" }}
    Mis Favoritos
  {{/ Layout }}
  {{# Layout template="orionMaterializeContentContainer" }}
    <div class="row masonry">
      {{# each favorites }}
        {{# with getProduct }}
          <div class="col s6 m4">
            <a href="{{ pathFor 'products.show' }}">
              <div class="card">
                <div class="card-image waves-effect waves-block waves-light">
                  <img src="{{ image.url }}">
                </div>
                <div class="card-content">
                  <span class="card-title grey-text text-darken-4">{{ name }}</span>
                  {{# if price }}
                    <p class="grey-text text-darken-4">${{ format price }}</p>
                  {{/ if }}
                </div>
                <div class="card-action">
                  <a href="#" class="btn-remove-from-favorites red-text">Remover</a>
                </div>
              </div>
            </a>
          </div>
        {{/ with }}
      {{/ each }}
    </div>
  {{/ Layout }}
</template>
