<template name="adminProjectsDelete">
  {{# Layout template="orionMaterializeContentContainer" }}
    {{# Layout template="orionMaterializeHeaderContainer" }}
      Borrar proyecto
    {{/ Layout }}
    <p>Estas seguro que quieres borrar este proyecto?</p>
    
  {{/ Layout }}
  {{# if item.canShowRemove }}
    {{# Layout template="orionMaterializeButtonsContainer" }}
      <a href="{{ collection.indexPath }}">Cancelar</a>
      <a class="red-text confirm-delete" href="#">Confirmar</a>
    {{/ Layout }}
  {{/ if }}
</template>